:root{
  --primary-colour: #B64CFF;
  --primary-highlight-1: #CE85FF;
  --primary-highlight-2: #DEADFF;
  --background-colour: #1E1E1E;
  --grey-highlight-1: #333333;
  --grey-highlight-2: #474747;
}
html{
  background: var(--background-colour);
}
.bar-left{
  border-right: 0.5vw solid var(--primary-colour);
  box-sizing: border-box;
  width: 25vw;
  height: 80vh;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 1vw;
}
.logo-left{
  background-color: var(--primary-colour);
  background-size: cover;
  background-image: url("media/icons/logo-transparent-cropped.png");
  width: 8vw;
  height: 8vw;
}
.left-bar-widget{
  box-sizing: border-box;
  min-width: 16vw;
  height: 4vw;
  background-color: var(--grey-highlight-1);
  border-radius: 2vw;
  transition: all 0.25s;
}
.left-bar-widget:hover{
  min-width: 23vw;
  background-color: var(--grey-highlight-2);
  cursor: pointer;
  border: solid 0.25vw var(--primary-colour);
  transition: all 0.25s;
}
.left-bar-widget:hover .widget-text{
  color: var(--primary-highlight-1);
  line-height: 3.75vw;
  transition: all 0.25s;
}
.left-bar-widget:hover .widget-icon{
  width: 3.5vw;
  height: 3.5vw;
  margin-right: 1.25vw;
  transition: all 0.25s;
}
.widget-icon{
  width: 4vw;
  height: 4vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--primary-colour);
  float: left;
  margin-right: 1vw;
  border-radius: 2vw;
  transition: all 0.25s;
}
.widget-text{
  line-height: 4vw;
  margin: 0;
  font-size: 3vw;
  color: var(--primary-colour);
  font-family: "Arial";
  transition: all 0.25s;
}
#profile-button{
  background-image: url("media/icons/profile-icon.png");
}
.bar-right{
  border-left: 0.5vw solid var(--primary-colour);
  box-sizing: border-box;
  width: 25vw;
  height: 80vh;
  position: fixed;
  right: 0;
  top: 0;
}
.bar-bottom{
  border-top: 0.5vw solid var(--primary-colour);
  box-sizing: border-box;
  width: 100vw;
  height: 20vh;
  position: fixed;
  left: 0;
  bottom: 0;
}
.bar-bottom-icons-container{
  width: 40vw;
  display: flex;
  margin: auto;
  margin-top: 2.25vh;
  justify-content: space-evenly;
}
.bar-bottom-icon{
  background-color: var(--primary-colour);
  background-size: cover;
  width: 15vh;
  height: 15vh;
  border: none;
  cursor: pointer;
  transition: background-color 0.25s;
}
.bar-bottom-icon:hover{
  background-color: var(--primary-highlight-1);
  transition: background-color 0.25s;
}
#home-icon{
  background-image: url("media/icons/home-icon.png");
}
#message-icon{
  background-image: url("media/icons/message-icon.png");
}
#new-post-icon{
  background-image: url("media/icons/new-post-icon.png");
}
.content-placeholder{
  background-color: red;
  position: fixed;
  width: 50vw;
  height: 80vh;
  left: 25vw;
  top: 0;
}
