.content-friends {
  color: white;
}
.searchbar {
  width: 20vw;
  height: 3vh;
  text-align: center;
  color: white;
  background-color: var(--background-colour);
  border-radius: 0.25rem;
  border: 0.15vw solid var(--background-colour);
}
.searchbar:focus{
  outline: none;
  border: 0.15vw solid var(--primary-highlight-1);
  text: none;
}
.profile-element {
  background-color: var(--background-highlight-2);
  color: white;
  border-radius: 1rem;
  width: 44vw;
  margin: auto;
}
.content-container{
  width: 42vw;
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
  margin-left: 1vw;
  justify-content: space-between;
  align-items: center;
}
.profile-image {
  height: 7vh;
  width: 7vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  background-color: var(--background-highlight-1);
  background-size: cover;
  border: solid;
  border-color: var(--primary-highlight-1);
  border-radius: 50%;
  cursor: pointer;
  transition: border-color 0.25s;
}
.profile-image:hover{
  border-color: var(--primary-highlight-2);
  transition: border-color 0.25s;
}
.profile-text-header {
  text-align: left;
  transition: color 0.25s;
  font-weight: 400;
  font-size: 1.25vw;
  margin-left: 1vw;
  flex: 4;
}
.profile-text-header:hover {
  color: var(--primary-highlight-2);
  cursor: pointer;
}
.profile-text-details {
  text-align: center;
  font-weight: 300;
  font-size: 1vw;
  flex: 3;
}

