.content-newPost {
  color: white;
  font-size: 1vw;
}
.new-post-absolutes{
  position: absolute;
  top: 25vh;
  z-index: -1;
  width: 100%;
}
.switch-container{
  width: 35vw;
  display: flex;
  margin: auto;
  margin-top: 3vw;
  justify-content: space-evenly;
}
.setting-label{
  font-weight: 300;
  font-size: 1.5vw;
}
.setting-switch{
  position: relative;
  display: inline-block;
  width: 4vw;
  height: 2vw;
}
.setting-switch input{
  opacity: 0;
  width: 0;
  height: 0;
}
.setting-slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-highlight-2);
  border-radius: 1vw;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.setting-slider:before{
  position: absolute;
  content: "";
  height: 1.7vw;
  width: 1.7vw;
  left: 0.15vw;
  bottom: 0.15vw;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: .25s;
  transition: .25s;
}
input:checked + .setting-slider{
  background-color: var(--primary-colour);
}
input:checked + .setting-slider:before{
  -webkit-transform: translateX(2vw);
  -ms-transform: translateX(2vw);
  transform: translateX(2vw);
}
.button {
  color: white !important;
  background-color: var(--background-highlight-1) !important;
  font-size: 1.25vw;
  font-weight: 400;
}
.single-line-text-entry {
  margin-top: 1vw;
}
.multi-line-text-entry {
  width: 30vw;
  height: 10vw;
}
#the-count {
  margin-bottom: 2vw;
}
.spcontainer{
  width: 40vw !important;
  margin-left: 4vw !important;
  height:5vw !important;
}
.spplayer {
  height:5vw !important;
}
.spsongInfo{
  height:5vw !important;
}
.spplay-pause-btn {
  height: 4vw !important;
  width: 4vw !important;
  position:absolute;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: rgba(0,0,0,0) !important;
  border: none 0.05vw black !important;
  background-image: none !important;
}

