h2{
  margin: 0;
}
.settings-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  color: var(--text-colour);
  column-gap: 2vw;
  margin-left: 2vw;
}
.setting{
  margin-bottom: 1vw;
  width: 30%;
  display: flex;
  align-items: center;
  flex-basis: 60%;
}
.setting-label{
  font-weight: 400;
  font-size: 1.25vw;
  margin-right: 2vw;
  margin-left: 2vw;
  white-space: nowrap;
}
.single-line-text-entry{
  margin-top: 1vw !important;
  margin-left: 1vw !important;
  margin-bottom: 1vw !important;
  font-size: 1vw !important;
  color: lightgray;
}
.single-line-text-entry:focus{
  color: white;
}
.multi-line-text-entry{
  width: 20vw !important;
  height: 4vw !important;
  margin-top: 1vw !important;
  margin-left: 1vw !important;
  margin-bottom: 1vw !important;
  font-size: 1vw !important;
  color: lightgray;
}
.multi-line-text-entry:focus{
  color: white;
}
#the-count {
  margin-left: 0.5vw;
}
.profile-settings-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 1vw;
  margin-left: 2vw;
  flex-direction: column;
  align-items: left;
}
.profile-setting{
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-basis: 60%;
}
.profile-setting-label{
  font-weight: 400;
  width: 5vw;
  font-size: 1.25vw;
  margin-right: 3.9vw;
  white-space: nowrap;
  text-align: left;
}
.profile-picture-setting{
  margin-left: 1vw;
  margin-bottom: 0.75vw;
}
.profile-picture-span{
  background-color: var(--background-colour) !important;
  border: 0.15vw solid var(--primary-colour) !important;
}
.profile-picture-span:hover{
  border: 0.15vw solid var(--primary-highlight-1) !important;
}
.button{
  background-color: var(--background-highlight-1);
  font-size: 1.25vw;
  font-weight: 400;
  color: white !important;
}
.setting-switch{
  position: relative;
  display: inline-block;
  width: 4vw;
  height: 2vw;
  margin-left: 2vw;
}
.setting-switch input{
  opacity: 0;
  width: 0;
  height: 0;
}
.setting-slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-highlight-2);
  border-radius: 1vw;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.setting-slider:before{
  position: absolute;
  content: "";
  height: 1.7vw;
  width: 1.7vw;
  left: 0.15vw;
  bottom: 0.15vw;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: .25s;
  transition: .25s;
}
input:checked + .setting-slider{
  background-color: var(--primary-colour);
}
input:checked + .setting-slider:before{
  -webkit-transform: translateX(2vw);
  -ms-transform: translateX(2vw);
  transform: translateX(2vw);
}
.settingButton {
  position: absolute;
  width: 4vw;
  height: 2vw;
  margin-left: -.5vw;
  cursor: pointer;
  background-color: var(--background-colour);
  border: solid 0.2vw var(--primary-colour);
  border-radius: 1rem;
}
.settingButton:active {
  color: white;
  border-color: var(--primary-highlight-2);
  transform: translateY(0.25vh);
}
#search-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 28vw;
  border-radius: 1rem;
  background-color: rgb(30, 30, 30, 0.6);
  transition: all 0.25s;
}
.search-result{
  width: 26vw;
  height: 4vw;
  margin: auto;
  margin-bottom: 2vh;
  margin-top: 0;
  border-radius: 0.75rem;
  background-color: rgb(51, 51, 51);
  color: var(--text-colour);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.search-result img{
  height: 3vw;
  margin-left: 1vh;
  border-radius: 0.5rem;
}
.search-result h2{
  margin: 1vw;
}
.spcontainer{
  width: 40vw !important;
  margin-left: 4vw !important;
  height:5vw !important;
}
.spplayer {
  height:5vw !important;
}
.spsongInfo{
  height:5vw !important;
}
.spplay-pause-btn {
  height: 4vw !important;
  width: 4vw !important;
}
