.sprepeating-image {
  width:200%;
  height:200%;
  background-size:cover;
  background-repeat: no-repeat;
  background-position:0px 0px;
  position: relative;
  right:50%;
  bottom:50%;
}
.spblurrer {
  filter: blur(10px);
  width:100%;
  height:100%;
  flex-grow: 1;
  flex-shrink: 1;
}
.sptext{ 
  flex-grow: 1;
  flex-shrink: 1;
}
.spcontainer{
  width: 100%;
  height:10vw;
  position: relative;
}
.spcontain{
  top:50%;
  transform:translate(0,-50%);
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
}
.spplayer {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:10vw;
  border-radius:10px;
  overflow:hidden;
}
.spsongInfo{
  position:absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction:row;
  width:100%;
  height:10vw;
  border-radius:10px;
  overflow:hidden;
  user-select: none;
}
.spitem {
  flex: 2;
  margin: 0 10px;
}
.spalbumImage {
  flex: 0 0 auto;  
  aspect-ratio : 1;
  height:90%;
  background-size: 100%;
  border-radius:10px;
  box-shadow: 0vw 0vw 0.1vw black;
}
.spsongDetails {
  flex: 3;
  display: flex;
  justify-content: space-between;
  flex-direction:column;
}
.spsongTitle{
  color:var(--text-colour);
  text-align:left ;
  text-shadow: 0vw 0vw 0.1vw black;
  font-size:2.5vw;
  max-width: 20vw;
}
.spartistTitle{
  color:var(--text-colour);
  text-shadow: 0vw 0vw 0.1vw black;
  text-align:left ;
  font-size:1.5vw;
}
#spAudiocontainer {
  height:90%;
  transform: translateX(-5vw);
  position:relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.spplay-pause-btn {
  position:absolute;
  height: 80%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: solid 0.15vw var(--background-highlight-1);
  background-color: #ffffff;
  background-image: url('../media/icons/play-pause-icon.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  transition: background-size 0.1s;
}
.spplay-pause-btn.playing {
  background-size: 90%;
}
.spsongCircle {
  position:absolute;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: purple;
  clip-path: polygon(0 0);
}

