/*For the templates*/

.body{
display:flex;
justify-content: space-between;
flex-direction:column;
}
.postTemplate {  
display: flex;
gap: 1rem;
padding: 1rem;
flex-direction: column;
border-radius: 20px;
margin-bottom: 50px;
}
.spotifyTemplate {
width: 100%;
margin: auto;
height: 10vw;
display: flex;
border-radius: 1vw;
align-items: center;
}
.photoTemplate {
width: 8vw;
height: 8vw;
border-radius: 1vw;
margin-left: 1vw;
}
.textTemplate {
flex: 3;
height: 150px;
}
.footerTemplate {
flex: 0;
display: flex;
justify-content: space-between;
flex-direction: row;
height: 10px;
}
.reactionsTemplate{
border-radius: 10px;
flex-basis: auto;
background-color: var(--background-highlight-2);
color:var(--background-highlight-2);
user-select: none;
}
.commentsTemplate{
border-radius: 10px;
flex-basis: auto;
background-color: var(--background-highlight-3);
color:var(--background-highlight-3);
user-select: none;
}

/*For the actual posts*/

.post {  
display: flex;
gap: 1rem;
padding: 1rem;
flex-direction: column;
background-color:var(--background-highlight-1);
border-radius: 20px;
margin-bottom: 50px;
}
.spotify {
flex-basis: auto;
flex: 0;
}
.text {
min-height: 150px;
max-height: 150px;
overflow: hidden;
cursor: pointer;
transition: max-height 0.2s ease-out;
flex: 1;
align-content: left; 
text-align: left;
color: var(--text-colour);
-webkit-mask-image: linear-gradient(180deg, #000 60%, transparent); 
}
.footer {
display: flex;
justify-content: space-around;
flex-direction: row;
flex: 1;
}
.posReact{
	background-image: url('../js/like.png');
	min-width: 50px;
	min-height: 60px;
	background-size:50px;
cursor:pointer;
}
.negReact{
	background-image: url('../js/dislike.png');
	min-width: 50px;
	min-height: 60px;
	background-size:50px;
cursor:pointer;
}
.comments{
	background-image: url('../js/comments.png');
	min-width: 50px;
	min-height: 60px;
	background-size:50px;
color: var(--text-colour);
cursor:pointer;
}
.commentSection{
overflow:auto;
display:none;
}
.comment{
width:100%;
height:20px;

}
.commentContainer {
	margin-top: 10px;
	display:flex;
justify-content: left;
flex-direction:row;
	width:98%;


}
.commentProfilePic {
	background-image: url('../media/avatar.jpg');
	background-color:red;
	background-size:50px;
	min-width:50px;
	width:50px;
	height:50px;
	border-radius:50%;
}
.commentText {
	background-color: var(--background-highlight-2);
	color: var(--text-colour);
	border-radius:8px;
	margin-left: 5px;
	padding:5px;
	min-height: 50px;
	min-width:20%;
	text-align:left;
}
.newComment {
	width=100%;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}
.bigText {
    height:40px;
}
