/*For the templates*/
.body{
display:flex;
justify-content: space-between;
flex-direction:column;
}
.postTemplate {  
display: flex;
gap: 1rem;
padding: 1rem;
flex-direction: column;
border-radius: 20px;
margin-bottom: 50px;
}

/*For the actual posts*/
.post {  
display: flex;
gap: 1rem;
padding: 1rem;
flex-direction: column;
background-color:var(--background-highlight-1);
border-radius: 20px;
margin-bottom: 50px;
}
.groupHorizontal{
display:flex;
flex-direction: row;
}
.groupHorizontalComments{
display:flex;
flex-direction: row;
align-items: center;
justify-content: left;
}
.groupVertical{
display:flex;
flex-direction: column;
}
.time {
display:flex;
font-size:1.5vw;
color:var(--text-colour);
line-height:3vw;
margin-left:auto;
margin-right:0.5vw;
}
.timeComments {
display:flex;
font-size: .75vw;
color:var(--text-colour);
margin: 0;
}
.text {
max-height: 150px;
margin-left: 1vw;
overflow: hidden;
cursor: pointer;
transition: max-height 0.2s ease-out;
flex: 1;
align-content: left; 
text-align: left;
font-size: 1.5vw;
color: var(--text-colour);
}
.footer {
display: flex;
justify-content: space-around;
flex-direction: row;
flex: 1;
}
.posReact{
background-image: url('../media/icons/like-icon.png');
width:3vw;
aspect-ratio:1;
background-size: 3vw;
background-repeat: no-repeat;
padding: .125vw;
cursor:pointer;
transition: 0.125s;
}
.posReactDisabled{
background-image: url('../media/icons/like-disabled-icon.png');
width:3vw;
aspect-ratio:1;
background-size: 3vw;
background-repeat: no-repeat;
padding: .125vw;
cursor: default;
transition: 0.125s;
}
.posReact.clicked{
background-image:url('../media/icons/like-active-icon.png');
}
.negReact{
background-image: url('../media/icons/dislike-icon.png');
width:3vw;
aspect-ratio:1;
background-size: 3vw;
background-repeat: no-repeat;
padding: .125vw;
cursor:pointer;
transition: 0.125s;
}
.negReactDisabled{
background-image: url('../media/icons/dislike-disabled-icon.png');
width:3vw;
aspect-ratio:1;
background-size: 3vw;
background-repeat: no-repeat;
padding: .125vw;
cursor: default;
transition: 0.125s;
}
.negReact.clicked{
background-image:url('../media/icons/dislike-active-icon.png');
}
.comments{
background-image: url('../media/icons/comment-icon.png');
width:3vw;
aspect-ratio:1;
background-size: 3vw;
background-repeat: no-repeat;
padding: .125vw;
color: var(--text-colour);
cursor:pointer;
transition: 0.125s;
}
.commentsDisabled{
background-image: url('../media/icons/comment-disabled-icon.png');
width:3vw;
aspect-ratio:1;
background-size: 3vw;
background-repeat: no-repeat;
padding: .125vw;
color: var(--text-colour);
cursor: default;
transition: 0.125s;
}
.comments.clicked{
background-image:url('../media/icons/comment-active-icon.png');
}
.commentSection{
background-color: var(--background-highlight-2);
border-radius: 0.75rem;
overflow: auto;
display:none;
gap:1vw;
flex-direction: column;
padding-bottom: 1vw;
}
.commentSection::-webkit-scrollbar {
display: none;
}
.comment{
width:100%;
height:20px;
}
a {
text-decoration: none;
}
.profileName {
display:flex;
font-size:1.5vw;
color:var(--text-colour);
line-height:3vw;
margin-left:0.5vw;
transition: 0.25s;
}
.profileName:hover {
color: var(--primary-highlight-2);
cursor: pointer;
transition: 0.25s;
}
.profilePic {
min-width: 3vw;
min-height: 3vw;
max-width: 3vw;
max-height: 3vw;
margin-left: 1vw;
background-color: var(--background-highlight-1);
background-size: cover;
border: solid 0.15vw var(--primary-colour);
border-radius: 50%;
background-position: center;
cursor: pointer;
transition: border-color 0.25s;
}
.profilePic:hover{
border-color: var(--primary-highlight-2);
cursor: pointer;
transition: border-color 0.25s;
}
.commentText {
background-color: var(--background-highlight-3);
color: var(--text-colour);
border-radius:8px;
margin-left: 0.5vw;
margin-right: 0;
padding:8px;
max-width: 70%;
font-size: 1vw;
text-align:left;
}
.bigText {
margin-left: 0.25vw;
line-height:1.5vw;
width:auto;
padding:5px;
}
.count{
min-width:2vw;
text-align: left;
font-size:1.5vw;
margin-left:auto;
color: var(--text-colour);
}
.commentSubmitButton {
display: inline-block;
padding: 0.3vw 2vw;
margin-top: 1.75vw;
margin-left: 0.75vw;
min-height: 2vw;
max-height: 2vw;
font-weight: 300;
font-size: 1vw;
cursor: pointer;
text-align: center;
outline: none;
color: white;
line-height: 1;
background-color: var(--background-highlight-2);
border: solid 0.15vw var(--primary-colour);
border-radius: 0.75rem;
}
.commentSubmitButton:hover {
border-color: var(--primary-highlight-2);
}
.commentSubmitButton:active {
transform: translateY(0.25vh);
}
.newCommentText {
width:78%;
margin-left: 1vw;
margin-top: 1vw;
overflow:auto;
height: 3vw;
text-align: left;
font-size: 1vw;
font-family: "roboto_condensed";
color: var(--text-colour);
background-color: var(--background-colour);
border-radius: 0.5rem;
border: 0.15vw solid var(--background-colour);
resize: none;
}
.newCommentText:focus{
outline: none;
border: 0.15vw solid var(--primary-highlight-1);
}
.timeNameContainer{
display: flex;
flex-direction: column;
align-items: left;
margin-left: 0.5vw;
}