.content-newPost {
  color: white;
}
.switch-container{
  width: 35vw;
  display: flex;
  margin: auto;
  justify-content: space-evenly;
}
.setting-label{
  font-weight: 300;
  font-size: 1.5vw;
}
.setting-switch{
  position: relative;
  display: inline-block;
  width: 4vw;
  height: 2vw;
}
.setting-switch input{
  opacity: 0;
  width: 0;
  height: 0;
}
.setting-slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-highlight-2);
  border-radius: 1vw;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.setting-slider:before{
  position: absolute;
  content: "";
  height: 1.7vw;
  width: 1.7vw;
  left: 0.15vw;
  bottom: 0.15vw;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: .25s;
  transition: .25s;
}
input:checked + .setting-slider{
  background-color: var(--primary-colour);
}
input:checked + .setting-slider:before{
  -webkit-transform: translateX(2vw);
  -ms-transform: translateX(2vw);
  transform: translateX(2vw);
}
.button {
  display: inline-block;
  padding: 0.5vh 2vw;
  font-weight: 300;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  outline: none;
  color: white;
  background-color: var(--background-highlight-1);
  border: solid var(--primary-colour);
  border-radius: 1rem;
}
.button:active {
  border-color: var(--primary-highlight-2);
  transform: translateY(0.25vh);
}
