.sprepeating-image {
  width:200%;
  height:200%;
  background-size:contain;
  background-repeat: repeat;
  background-position:0px 0px;
  position: relative;
  right:50%;
  bottom:50%;
}
.spblurrer {
  filter: blur(100px);
  width:100%;
  height:100%;
  flex-grow: 1;
  flex-shrink: 1;
}
.sptext{ 
  flex-grow: 1;
  flex-shrink: 1;
  color:white;
}
.spcontainer{
  width: 100%;
  height:10vw;
  position: relative;
}
.spcontain{
  top:50%;
  transform:translate(0,-50%);
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
}

.spplayer {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:10vw;
  background-color:grey;
  border-radius:10px;
  overflow:hidden;
}
.spsongInfo{
  position:absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction:row;
  width:100%;
  height:10vw;
  border-radius:10px;
  overflow:hidden;
   user-select: none;

}

.spitem {
  flex: 2;
  margin: 0 10px;
}

.spalbumImage {
  flex: 0 0 auto;  
  aspect-ratio : 1;
  height:90%;
  background-size: 100%;
  border-radius:10px;
}

.spsongDetails {
  flex: 3;
  display: flex;
  justify-content: space-between;
  flex-direction:column;
}

.spsongTitle{
  color:white;
  text-align:left ;
  font-size:2.5vw;
}

.spartistTitle{
  color:white;
  text-align:left ;
  font-size:1.5vw;
}

.spmp3player {
  flex: 1;
  color:white;
  font-size:5vw;
}