.post {  
		display: flex;
  	gap: 1rem;
  	padding: 1rem;

		flex-direction: column;
		background-color:black;
		border-radius: 20px;
		background-color: #242526;
		min-height: 350px;
		margin-bottom: 50px;
	}
	.spotify {
		flex-basis: auto;
		flex: 0;
	}
	.text {
		min-height: 150px;
		max-height: 150px;
		overflow: hidden;
		cursor: pointer;
		transition: max-height 0.2s ease-out;
		flex: 1;
		align-content: left; 
		text-align: left;
		color: lightgray;
    -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent); 
	}
	.footer {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		flex: 1;
	}
	.reactions{
	}
	.comments{
		color: gray;

	}