<!DOCTYPE html>
<html>
  <head>
    <title>Profile Creation | Wavelength</title>
    <meta charset="utf-8">
    <meta name="description" content="Music brings us closer.">
    <meta property="og:image" content="media/preview.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/signOn.css')}}">
  </head>
  <body>
  	<div class="main-content content-signOn">
      <br>
  		<center>
  			<img id="logo" src="{{url_for('static', filename = 'media/icons/logo-white-cropped-notext.png')}}">
  		</center>
  		<p class="logo-text">Wavelength</p>
  		<br>
      <div class="fadeLeft">
        <div class="settings-container">
          <h1>Profile Settings</h1>
          <div class="creation-setting">
            <h2 class="creation-setting-label">Profile Picture:</h2>
            <label class="profile-picture-setting">
              <input type="file" accept="image/png, image/jpeg">
              <span class="profile-picture-span" style="background-image: url('media/trumpie.jpg')"></span>
            </label>
          </div>
          <div class="creation-setting">
            <h2 class="creation-setting-label">Username:</h2>
            <input class="single-line-text-entry" type="text" placeholder="{{username}}" onfocus="this.placeholder=''" onblur="this.placeholder = '{{username}}'">
          </div>
          <div class="creation-setting">
            <h2 class="creation-setting-label">Display Name:</h2>
            <input class="single-line-text-entry" type="text" placeholder="{{display_name}}" onfocus="this.placeholder=''" onblur="this.placeholder = '{{display_name}}'">
          </div>
          <div class="creation-setting">
            <h2 class="creation-setting-label">Bio:</h2>
            <textarea class="multi-line-text-entry" type="text" placeholder="{{bio}}" onfocus="this.placeholder=''" onblur="this.placeholder = '{{bio}}'" style="height: 6vw;"></textarea>
          </div>
          <div class="creation-setting">
            <h2 class="creation-setting-label">Top Song:</h2>
            <input class="single-line-text-entry" type="text" placeholder="Search for a song..." onfocus="this.placeholder=''" onblur="this.placeholder = 'Search for a song...'">
          </div>
          <button type = "submit" class="button" onclick="navigateToHomePage()">Continue</button>
        </div>
      </div>
  	</div>
  	<script>
        function navigateToHomePage() {
            window.location.href = "{{ url_for('home') }}";
        }
      </script>
  </body>
</html>
