<!DOCTYPE html>
<html>
  <head>
    <title>Profile Creation | Wavelength</title>
    <meta charset="utf-8">
    <meta name="description" content="Music brings us closer.">
    <meta property="og:image" content="media/preview.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/creation.css')}}">
  </head>
  <body>
  	<div class="content-creation">
  		<br>
  		<center>
  			<img id="logo" src="{{url_for('static', filename = 'media/icons/logo-white-cropped-notext.png')}}">
  		</center>
  		<p class="logo-text">Wavelength</p>
  		<br>
  		<input class="single-line-text-entry" type="text" placeholder="Username or Email" onfocus="this.placeholder=''" onblur="this.placeholder = 'Username or Email'"></input>
      <br>
      <input class="single-line-text-entry" type="text" placeholder="Password" onfocus="this.placeholder=''" onblur="this.placeholder = 'Password'"></input>
      <br>
      <button class="button" onclick="LoadPage('register.html')">Register</button>
      <button class="button" onclick="LoadPage('index.html')">Sign-in</button>
  	</div>
  	<script type="text/javascript" src="{{url_for('static', filename = 'js/homepage-buttons.js')}}"></script>
  </body>
</html>
