{% extends "base.html" %}

{% block title %}Friends | Wavelength{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{url_for('static', filename = 'css/friends.css')}}">
{% endblock %} 

{% block content%}
<div class="main-content content-friends">
    <div class="clsScroll" id="hideScroll">
      <center>
        <h1 class="content-title">Friends</h1>
        <input class="single-line-text-entry" type="text" placeholder="Search..." onfocus="this.placeholder=''" onblur="this.placeholder = 'Search...'">
      </center>
      <div class="profile-element">
        <div class="content-container">
          <img class="profile-image" src="{{url_for('static', filename = 'media/icons/profile-icon-transparent.png')}}"></img>
          <p class="profile-text-header">@Zak</p>
          <p class="profile-text-details">Friends: 99</p>
          <p class="profile-text-details">Posts: 4</p>
          <p class="profile-text-details">Likes: 940</p>
          <p class="profile-text-details">Comments: 52</p>
        </div>
      </div>
      <div class="profile-element">
        <div class="content-container">
          <img class="profile-image" src="{{url_for('static', filename = 'media/icons/profile-icon-transparent.png')}}"></img>
          <p class="profile-text-header">@Jonny</p>
          <p class="profile-text-details">Friends: 80</p>
          <p class="profile-text-details">Posts: 2</p>
          <p class="profile-text-details">Likes: 637</p>
          <p class="profile-text-details">Comments: 56</p>
        </div>
      </div>
      <div class="profile-element">
        <div class="content-container">
          <img class="profile-image" src="{{url_for('static', filename = 'media/icons/profile-icon-transparent.png')}}"></img>
          <p class="profile-text-header">@Alex</p>
          <p class="profile-text-details">Friends: 70</p>
          <p class="profile-text-details">Posts: 7</p>
          <p class="profile-text-details">Likes: 429</p>
          <p class="profile-text-details">Comments: 32</p>
        </div>
      </div>
      <div class="profile-element">
        <div class="content-container">
          <img class="profile-image" src="{{url_for('static', filename = 'media/icons/profile-icon-transparent.png')}}"></img>
          <p class="profile-text-header">@Atsu</p>
          <p class="profile-text-details">Friends: 120</p>
          <p class="profile-text-details">Posts: 3</p>
          <p class="profile-text-details">Likes: 692</p>
          <p class="profile-text-details">Comments: 60</p>
        </div>
      </div>
      <div class="profile-element">
        <div class="content-container">
          <img class="profile-image" src="{{url_for('static', filename = 'media/icons/profile-icon-transparent.png')}}"></img>
          <p class="profile-text-header">@Yuvan</p>
          <p class="profile-text-details">Friends: 68</p>
          <p class="profile-text-details">Posts: 2</p>
          <p class="profile-text-details">Likes: 491</p>
          <p class="profile-text-details">Comments: 10</p>
        </div>
      </div>
      <div class="profile-element">
        <div class="content-container">
          <img class="profile-image" src="{{url_for('static', filename = 'media/icons/profile-icon-transparent.png')}}"></img>
          <p class="profile-text-header">@Matt</p>
          <p class="profile-text-details">Friends: 42</p>
          <p class="profile-text-details">Posts: 4</p>
          <p class="profile-text-details">Likes: 195</p>
          <p class="profile-text-details">Comments: 39</p>
        </div>
      </div>
      <div class="profile-element">
        <div class="content-container">
          <img class="profile-image" src="{{url_for('static', filename = 'media/icons/profile-icon-transparent.png')}}"></img>
          <p class="profile-text-header">@Abhishek</p>
          <p class="profile-text-details">Friends: 139</p>
          <p class="profile-text-details">Posts: 1</p>
          <p class="profile-text-details">Likes: 980</p>
          <p class="profile-text-details">Comments: 30</p>
        </div>
      </div>
      <div class="profile-element">
        <div class="content-container">
          <img class="profile-image" src="{{url_for('static', filename = 'media/icons/profile-icon-transparent.png')}}"></img>
          <p class="profile-text-header">@KK</p>
          <p class="profile-text-details">Friends: 200</p>
          <p class="profile-text-details">Posts: 0</p>
          <p class="profile-text-details">Likes: 749</p>
          <p class="profile-text-details">Comments: 10</p>
        </div>
      </div>
      <div class="profile-element">
        <div class="content-container">
          <img class="profile-image" src="{{url_for('static', filename = 'media/icons/profile-icon-transparent.png')}}"></img>
          <p class="profile-text-header">@Gareth</p>
          <p class="profile-text-details">Friends: 0</p>
          <p class="profile-text-details">Posts: 29</p>
          <p class="profile-text-details">Likes: 0</p>
          <p class="profile-text-details">Comments: 0</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
{% endblock %} 

