{% extends "base.html" %}

{% block title %}Friends | Wavelength{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/friends.css') }}">
{% endblock %} 

{% block content%}
<div class="main-content content-friends">
    <div class="clsScroll" id="hideScroll">
      <center>
        <h1 class="content-title">Friends</h1>
        <form method = 'POST' action="/friendSearch">
        <input class="single-line-text-entry" id="search-box" type="text" placeholder="Search For New Friends..." onfocus="this.placeholder=''" onblur="this.placeholder='Search For New Friends...'" onkeyup="friendSearching()" onkeydown="return event.key != 'Enter';">
        </form>
      </center>
      <div id="friendSearch" style="display:block;">
        <div class="instructions"style="margin-top: 0.5vw;">
          <p>Click the cross to unfollow a user</p>
          <img class="unfollow" style="margin: 0; margin-left: 0.5vw;">
        </div>
        {% for i in range(usernames | length) %}
        <div class="profile-element">
          <div class="content-container">
            <img class="profile-image" src="{{ profile_pics[i] }}"></img>
            <p class="profile-text-header" onclick="navigateToProfilePage('{{ usernames[i] }}')">@{{ usernames[i] }}</p>
            <p class="profile-text-details">Friends: {{ users_num_followers[i] }}</p>
            <p class="profile-text-details">Posts: {{ users_num_posts[i] }}</p>
            <p class="profile-text-details">Likes: {{ users_num_likes[i] }}</p>
            <p class="profile-text-details">Comments: {{ users_num_comments[i] }}</p>
            <div>
              <img class="unfollow" onclick="unfollowProfile('{{ usernames[i] }}')">
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="instructions" style="margin-top: 0.5vw; display:none;" id="information" >
        <p>Click the plus to follow a user</p>
        <img class="follow" style="margin: 0; margin-left: 0.5vw;">
      </div>
      <div id="searchResults" style="display:none;">
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{url_for('static', filename = 'js/friendsPage.js')}}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}