{% extends "base.html" %}

{% block title %}Friends | Wavelength{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{url_for('static', filename = 'css/friends.css')}}">
{% endblock %} 

{% block content%}
<div class="main-content content-friends">
    <div class="clsScroll" id="hideScroll">
      <center>
        <h1 class="content-title">Friends</h1>
        <input class="single-line-text-entry" type="text" placeholder="Search For New Friends..." onfocus="this.placeholder=''" onblur="this.placeholder = 'Search For New Friends...'">
      </center>
      {%for i in range(length)%}
      <div class="profile-element">
        <div class="content-container">
          <img class="profile-image" src="{{profile_pics[i]}}"></img>
          <form id="form" method="POST" action="{{ url_for('friendprof') }}">
            <input type="hidden" id="hidden_input" name="text">
            <p class="profile-text-header" id="friendName_{{loop.index}}" onclick="navigateToFriendProfile('{{loop.index}}')">{{display_names[i]}}</p>
          </form>
          <p class="profile-text-details">Friends: {{users_num_followers[i]}}</p>
          <p class="profile-text-details">Posts: {{users_num_posts[i]}}</p>
          <p class="profile-text-details">Likes: {{users_num_likes[i]}}</p>
          <p class="profile-text-details">Comments: {{users_num_comments[i]}}</p>
        </div>
      </div>
      {%endfor%}
      <script>
        function navigateToFriendProfile(id) {
          var text = document.getElementById("friendName_" + id).textContent;
          document.getElementById("hidden_input").value = text;
          document.getElementById("form").submit();
        }
      </script>
    </div>
  </div>
{% endblock %}

{% block javascript %}
{% endblock %} 

