{% extends "base.html" %}

{% block title %}Home | Wavelength{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{url_for('static', filename = 'css/timeline.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename = 'css/styleForPlayer.css')}}">
{% endblock %}

{% block content%}
<div class="timeline-content content-home">
    <div class="clsScroll" id="hideScroll">
      <!-- timeline content goes here, is added by js. -->
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{url_for('static', filename = 'js/templateAnimate.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename = 'js/replaceTemplatesWithPosts.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename = 'js/textExpand.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename = 'js/get-posts.js')}}"></script>
{% endblock %}
