{% extends "base.html" %}

{% block title %}New Post | Wavelength{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{url_for('static', filename = 'css/newPost.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename = 'css/styleForPlayer.css')}}">
{% endblock %}

{% block content%}
<div id="pageID" style="display:none">newPost</div>
<div class="main-content content-newPost clsScroll hideScroll">
  <h1 class="content-title">New Post</h1>
  <div>
    <form method = 'POST' action="/post">
    <input id="selectedSongID" type="text" style="display:none" name="songID" value="{{ new_song }}">
    <input class="single-line-text-entry" id="search-box" type="text" name="song" value="{{ song }}" placeholder="Song" onfocus="this.placeholder='';ShowSearch()" onblur="this.placeholder = 'Song';HideSearch()" onkeyup="Search()">
    <div id="search-container">
      <div style="margin-top:1vw;"></div>
      <div class="search-result" id="search-result-0">
        <img id="search-image-0">
        <h2 id="search-title-0"></h2>
      </div>
      <div class="search-result" id="search-result-1">
        <img id="search-image-1">
        <h2 id="search-title-1"></h2>
      </div>
      <div class="search-result" id="search-result-2">
        <img id="search-image-2">
        <h2 id="search-title-2"></h2>
      </div>
      <div class="search-result" id="search-result-3">
        <img id="search-image-3">
        <h2 id="search-title-3"></h2>
      </div>
      <div class="search-result" id="search-result-4">
        <img id="search-image-4">
        <h2 id="search-title-4"></h2>
      </div>
    </div>
  </div>
  <div>
    <textarea class="multi-line-text-entry" type="text" name="caption" maxlength="250" placeholder="Caption" onfocus="this.placeholder=''" onblur="this.placeholder = 'Caption'">{{ text }}</textarea>
    <div id="the-count">
      <span id="current">0</span>
      <span id="maximum">/ 250</span>
    </div>
    <div class="switch-container">
      <div>
        <h2 class="setting-label">
          Likes
        </h2>
        <label class="setting-switch">
          <input type="checkbox" name="likes" checked>
          <span class="setting-slider"></span>
        </label>
      </div>
      <div>
        <h2 class="setting-label">
          Comments
        </h2>
        <label class="setting-switch">
          <input type="checkbox" name="comments" checked>
          <span class="setting-slider"></span>
        </label>
      </div>
      <div>
        <h2 class="setting-label">
          Dislikes
        </h2>
        <label class="setting-switch">
        <input type="checkbox" name="dislikes" checked>
          <span class="setting-slider"></span>
        </label>
      </div>
    </div>
  </div>
  <br>
  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for catagory, message in messages %}
          {% if catagory == "error" %}
            <div class="error">
                <p>{{ message }}</p>
            </div>
          {% endif %}
        {% endfor %}
    {% endif %}
  {% endwith %}
  <br>
  <button class="button" id="postButton">Post</button>
  </form>
  <!-- This needs to be here despite not showing to enable search-box auto-complete work -->
  <div id="resultPreview" style="display:none">
    <h2 class="setting-label">Song Preview:</h2>
    <div class="spcontainer" style="margin-top: 0vw; margin-bottom: 1vw; margin-left: 4vw; height: 5vw; width: 40vw;">
      <div class="spplayer" style="height:5vw;">
        <div class="spblurrer">
          <div class="sprepeating-image" id="resultBackground"></div>
        </div>
      </div>
      <div class="spsongInfo" style="height:5vw;">
        <div class="spitem spalbumImage" id="resultImage"></div>
        <div class="spitem spsongDetails">
          <div class="spsongTitle" id="resultTitle"></div>
          <div class="spartistTitle" id="resultArtist"></div>
        </div>
        <div id="spAudiocontainer">
          <audio class="audio-player" id="resultAudio"></audio>
          <div class="spsongCircle"></div>
          <button class="spplay-pause-btn" style="height: 4vw; width: 4vw; border: solid 0.1vw var(--background-highlight-1);"></button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{url_for('static', filename = 'js/show-search.js')}}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename = 'js/search.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename = 'js/characterCount.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename = 'js/mediaPlayer.js')}}"></script>
{% endblock %}
