{% extends "base.html" %}

{% block title %}New Post | Wavelength{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{url_for('static', filename = 'css/newPost.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename = 'css/styleForPlayer.css')}}">
{% endblock %}

{% block content%}
<div id="pageID" style="display:none">newPost</div>
<div class="main-content content-newPost clsScroll" id="hideScroll">
  <h1 class="content-title">New Post</h1>
  <div>
    <input class="single-line-text-entry" id="search-box" type="text" placeholder="Song" onfocus="this.placeholder='';ShowSearch()" onblur="this.placeholder = 'Song';" onkeyup="Search()"></input>
    <div id="search-container">
      <div style="margin-top:1vw;"></div>
      <div class="search-result" id="search-result-0">
        <img id="search-image-0">
        <h2 id="search-title-0"></h2>
      </div>
      <div class="search-result" id="search-result-1">
        <img id="search-image-1">
        <h2 id="search-title-1"></h2>
      </div>
      <div class="search-result" id="search-result-2">
        <img id="search-image-2">
        <h2 id="search-title-2"></h2>
      </div>
      <div class="search-result" id="search-result-3">
        <img id="search-image-3">
        <h2 id="search-title-3"></h2>
      </div>
      <div class="search-result" id="search-result-4">
        <img id="search-image-4">
        <h2 id="search-title-4"></h2>
      </div>
    </div>
  </div>
  <div>
    <textarea class="multi-line-text-entry" type="text" maxlength="250" placeholder="Caption" onfocus="this.placeholder=''" onblur="this.placeholder = 'Caption'"></textarea>
    <div id="the-count">
      <span id="current">0</span>
      <span id="maximum">/ 250</span>
    </div>
    <div class="spcontainer">
      <div class="spplayer">
        <div class="spblurrer">
          <div class="sprepeating-image" id="resultBackground" style="background-image:url('https://news.artnet.com/app/news-upload/2015/04/staneley-donwood.jpg')"></div>
        </div>
      </div>
      <div class="spsongInfo">
        <div class="spitem spalbumImage" id="resultImage" style="  background-image:url('https://news.artnet.com/app/news-upload/2015/04/staneley-donwood.jpg');"></div>
        <div class="spitem spsongDetails">
          <div class="spsongTitle" id="resultTitle">Sail To The Moon</div>
          <div class="spartistTitle" id="resultArtist">Radiohead</div>
        </div>
        <div id="spAudiocontainer">
          <audio class="audio-player" id="resultAudio" src="https://p.scdn.co/mp3-preview/858f7c324686e4a7b41a8648695b0f563d348b1f?cid=162b7dc01f3a4a2ca32ed3cec83d1e02"></audio>
          <div class="spsongCircle"></div>
        <button class="spplay-pause-btn"></button>
        </div>
      </div>
    </div>
    <div class="switch-container">
      <div>
        <h2 class="setting-label">
          Likes
        </h2>
        <label class="setting-switch">
          <input type="checkbox" checked>
          <span class="setting-slider"></span>
        </label>
      </div>
      <div>
        <h2 class="setting-label">
          Comments
        </h2>
        <label class="setting-switch">
          <input type="checkbox" checked>
          <span class="setting-slider"></span>
        </label>
      </div>
      <div>
        <h2 class="setting-label">
          Dislikes
        </h2>
        <label class="setting-switch">
        <input type="checkbox" checked>
          <span class="setting-slider"></span>
        </label>
      </div>
    </div>
  </div>
  <br><br>
  <button class="button" id="postButton" onclick="PostSong()">Post</button>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{url_for('static', filename = 'js/show-search.js')}}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename = 'js/search.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename = 'js/characterCount.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename = 'js/mediaPlayer.js')}}"></script>
{% endblock %}
