<!DOCTYPE html>
<html>
  <head>
    <title>New Post | Wavelength</title>
    <meta charset="utf-8">
    <meta name="description" content="Music brings us closer.">
    <meta property="og:image" content="media/preview.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/newPost.css')}}">
  </head>
  <body>
    <div class="bar-left">
      <div class="logo-left-container">
        <img id="logo-left" src="{{url_for('static', filename = 'media/icons/logo-transparent-cropped-notext.png')}}">
        <p class="logo-left-text">Wavelength</p>
      </div>
      <div class="flex-break"></div>
      <div class="left-bar-widget" onclick="navigateToHomePage()">
        <img class="widget-icon" src="{{url_for('static', filename = 'media/icons/home-icon-transparent.png')}}">
        <p class="widget-text">Home</p>
      </div>
      <div class="left-bar-widget" onclick="navigateToPostPage()">
        <img class="widget-icon" src="{{url_for('static', filename = 'media/icons/new-post-icon-transparent.png')}}">
        <p class="widget-text">Post</p>
      </div>
      <div class="left-bar-widget" onclick="navigateToFriendsPage()">
        <img class="widget-icon" src="{{url_for('static', filename = 'media/icons/friends-icon-transparent.png')}}">
        <p class="widget-text">Friends</p>
      </div>
      <div class="left-bar-widget" onclick="navigateToProfilePage()">
        <img class="widget-icon" src="{{url_for('static', filename = 'media/icons/profile-icon-transparent.png')}}">
        <p class="widget-text">Profile</p>
      </div>
      <div class="left-bar-widget" onclick="navigateToSettingsPage()">
        <img class="widget-icon" src="{{url_for('static', filename = 'media/icons/settings-icon-transparent.png')}}">
        <p class="widget-text">Settings</p>
      </div>
      <script>
        function navigateToHomePage() {
            window.location.href = "{{ url_for('home') }}";
        }

        function navigateToProfilePage() {
            window.location.href = "{{ url_for('profile') }}";
        }

        function navigateToFriendsPage() {
            window.location.href = "{{ url_for('friends') }}";
        }

        function navigateToSettingsPage() {
            window.location.href = "{{ url_for('settings') }}";
        }

        function navigateToPostPage() {
            window.location.href = "{{ url_for('post') }}";
        }
      </script>
    </div>
    <div class="main-content content-newPost clsScroll" id="hideScroll">
      <h1 class="content-title">New Post</h1>
      <div>
        <input class="single-line-text-entry" id="search-box" type="text" placeholder="Song" onfocus="this.placeholder='';ShowSearch()" onblur="this.placeholder = 'Song';HideSearch()" onkeydown="href={{ url_for('search_song')}}"></input>
        <div id="search-container">
          <div style="margin-top:2vh;"></div>
          <div class="search-result">
            <img id="search-image-0">
            <h2 id="search-title-0"></h2>
          </div>
          <div class="search-result">
            <img id="search-image-1">
            <h2 id="search-title-1"></h2>
          </div>
          <div class="search-result">
            <img id="search-image-2">
            <h2 id="search-title-2"></h2>
          </div>
          <div class="search-result">
            <img id="search-image-3">
            <h2 id="search-title-3"></h2>
          </div>
          <div class="search-result">
            <img id="search-image-4">
            <h2 id="search-title-4"></h2>
          </div>
        </div>
      </div>
      <br>
        <textarea class="multi-line-text-entry" type="text" maxlength="250" placeholder="Caption" onfocus="this.placeholder=''" onblur="this.placeholder = 'Caption'"></textarea>
        <div id="the-count">
            <span id="current">0</span>
            <span id="maximum">/ 250</span>
          </div>
        <div class="switch-container">
        <div>
          <h2 class="setting-label">
            Likes
          </h2>
          <label class="setting-switch">
            <input type="checkbox" checked>
            <span class="setting-slider"></span>
          </label>
        </div>
        <div>
          <h2 class="setting-label">
            Comments
          </h2>
          <label class="setting-switch">
            <input type="checkbox" checked>
            <span class="setting-slider"></span>
          </label>
        </div>
        <div>
          <h2 class="setting-label">
            Dislikes
          </h2>
          <label class="setting-switch">
          <input type="checkbox" checked>
            <span class="setting-slider"></span>
          </label>
        </div>
      </div>
      <br></br>
      <br></br>
      <button class="button">Post</button>
    </div>
    <div class="bar-right">
    </div>
    <script type="text/javascript" src="{{url_for('static', filename = 'js/homepage-buttons.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename = 'js/show-search.js')}}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename = 'js/characterCount.js')}}"></script>
  </body>
</html>
