{% extends "base.html" %}

{% block title %}Profile | Wavelength{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{url_for('static', filename = 'css/profile.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename = 'css/styleForPlayer.css')}}">
{% endblock %} 

{% block content%}
<div class="main-content content-profile">
    <div class="profile-info-container">
      <img class="profile-picture" src="{{url_for('static', filename = 'media/trumpie.jpg')}}">
      <div class="name-container">
        <h1 class="real-name">Joe Bloggs</h1>
        <h2 class="username">(@joebloggs69420)</h2>
        <p class="bio">
          Kanye did nothing wrong! Proud Swiftie, #votetrump2024.
        </p>
      </div>
    </div>
    <div class="spcontainer">
        <div class="spplayer">
          <div class="spblurrer">
            <div class="sprepeating-image" style="background-image:url('https://i1.sndcdn.com/artworks-000142105824-y39ojb-t500x500.jpg')"></div>
          </div>
        </div>
        <div class="spsongInfo">
          <div class="spitem spalbumImage" style="  background-image:url('https://i1.sndcdn.com/artworks-000142105824-y39ojb-t500x500.jpg');"></div>
          <div class="spitem spsongDetails">
            <div class="spsongTitle">Matadora</div>
            <div class="spartistTitle">Sofi Tukker</div>
          </div>
          <div id="spAudiocontainer">
            <audio class="audio-player" src="https://p.scdn.co/mp3-preview/77f3d7ea6be27d21fdbf489e01011012c044ebbf?cid=774b29d4f13844c495f206cafdad9c86"></audio>
            <div class="spsongCircle"></div>
          <button class="spplay-pause-btn"></button>
          </div>
        </div>
      </div>
</div> 
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{url_for('static', filename = 'js/mediaPlayer.js')}}"></script>
{% endblock %} 

