<!DOCTYPE html>
<html>
  <head>
    <title>Register | Wavelength</title>
    <meta charset="utf-8">
    <meta name="description" content="Music brings us closer.">
    <meta property="og:image" content="media/preview.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/signOn.css')}}">
  </head>
  <body>
  	<div class="content-signOn">
  		<br>
  		<center>
  			<img id="logo" src="{{url_for('static', filename = 'media/icons/logo-white-cropped-notext.png')}}">
  		</center>
  		<p class="logo-text">Wavelength</p>
  		<br>
  		<input class="single-line-text-entry" type="text" placeholder="Email" onfocus="this.placeholder=''" onblur="this.placeholder = 'Email'"></input>
      <br>
      <input class="single-line-text-entry" type="text" placeholder="Password" onfocus="this.placeholder=''" onblur="this.placeholder = 'Password'"></input>
      <br>
      <input class="single-line-text-entry" type="text" placeholder="Repeat Password" onfocus="this.placeholder=''" onblur="this.placeholder = 'Repeat Password'"></input>
      <br>
      <button class="button" onclick="navigateToHomePage()">Register</button>
      <script>
        function navigateToHomePage() {
            window.location.href = "{{ url_for('home') }}";
        }
      </script>
  	</div>
  	<script type="text/javascript" src="{{url_for('static', filename = 'js/homepage-buttons.js')}}"></script>
  </body>
</html>
