{% extends "sign-on.html" %}

{% block title %}Register | Wavelength{% endblock %}

{% block content%}
<br>
<form method = 'POST' action="/registration">
<input class="single-line-text-entry" type="text" placeholder="Email" name="email" onfocus="this.placeholder=''" onblur="this.placeholder='Email'"></input>
<br>
<input class="single-line-text-entry" type="text" placeholder="Username" name="username" onfocus="this.placeholder=''" onblur="this.placeholder='Username'"></input>
<br>
<input class="single-line-text-entry" type="password" id="password1" placeholder="Password" name="password1" onfocus="this.placeholder=''" onblur="this.placeholder='Password'"></input>
<br>
<input class="single-line-text-entry" type="password" id="password2" placeholder="Repeat Password" name="password2" onfocus="this.placeholder=''" onblur="this.placeholder='Repeat Password'"></input>
<div id="pwdCheck">
    <input id="pwdCheckbox" type="checkbox" onclick="togglePasswordVisibility()"> Show password
</div>
<br>
{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
    {% for catagory, message in messages %}
    {% if catagory == "error" %}
    <div class="error">
        <p>{{ message }}</p>
    </div>
    {% endif %}
    {% endfor %}
{% endif %}
{% endwith %}
<button type="submit" class="button">Register</button>
</form>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{url_for('static', filename = 'js/passwordVisibility.js')}}"></script>
{% endblock %} 

