{% extends "base.html" %}

{% block title %}Settings | Wavelength{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{url_for('static', filename = 'css/settings.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename = 'css/styleForPlayer.css')}}">
{% endblock %} 

{% block content%}
<div class="main-content clsScroll" id="hideScroll">
    <h1 class="content-title">General</h1>
    <div class="settings-container">
      <div class="setting">
        <h2 class="setting-label">Dark Mode:</h2>
        <label class="setting-switch">
          <input type="checkbox" checked onclick="SwitchMode()">
          <span class="setting-slider"></span>
        </label>
      </div>
      <div class="setting">
        <h2 class="setting-label">Log Out:</h2>
        <label class="setting-switch">
          <button class="settingButton" onclick="logout()"></button>
        </label>
      </div>
    </div>
    <h1 class="content-title">Profile Settings</h1>
    <div class="settings-container">
      <div class="profile-settings-container">
        <div class="profile-setting">
          <h2 class="profile-setting-label">Profile Picture:</h2>
          <label class="profile-picture-setting">
            <input type="file" accept="image/png, image/jpeg">
            <span class="profile-picture-span" style="background-image: url('media/trumpie.jpg')"></span>
          </label>
        </div>
        <div class="profile-setting">
          <h2 class="profile-setting-label">Username:</h2>
          <input class="single-line-text-entry" type="text" placeholder="{{username}}" onfocus="this.placeholder=''" onblur="this.placeholder='{{username}}'">
        </div>
        <div class="profile-setting">
          <h2 class="profile-setting-label">Display Name:</h2>
          <input class="single-line-text-entry" type="text" placeholder="{{display_name}}" onfocus="this.placeholder=''" onblur="this.placeholder='{{display_name}}'">
        </div>
        <div class="profile-setting">
          <h2 class="profile-setting-label">Bio:</h2>
          <textarea class="multi-line-text-entry" type="text" maxlength="100" placeholder="{{bio}}" onfocus="this.placeholder=''" onblur="this.placeholder ='{{bio}}'" style="height: 6vw;"></textarea>
          <div id="the-count">
            <span id="current">0</span>
            <span id="maximum">/ 100</span>
          </div>
        </div>
        <div class="profile-setting">
          <h2 class="profile-setting-label">Top Song:</h2>
          <input class="single-line-text-entry" id="search-box" type="text" placeholder="{{topSong}}" onfocus="this.placeholder='';ShowMiniSearch()" onblur="this.placeholder='{{topSong}}';HideMiniSearch()" onkeyup="Search()"></input>
        </div>
        <div id="search-container">
          <div style="margin-top:1vw;"></div>
          <div class="search-result">
            <img id="search-image-0">
            <h2 id="search-title-0"></h2>
          </div>
          <div class="search-result">
            <img id="search-image-1">
            <h2 id="search-title-1"></h2>
          </div>
          <div class="search-result">
            <img id="search-image-2">
            <h2 id="search-title-2"></h2>
          </div>
          <div class="search-result">
            <img id="search-image-3">
            <h2 id="search-title-3"></h2>
          </div>
          <div class="search-result">
            <img id="search-image-4">
            <h2 id="search-title-4"></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="spcontainer">
        <div class="spplayer">
          <div class="spblurrer">
            <div class="sprepeating-image" style="background-image:url('https://i1.sndcdn.com/artworks-000142105824-y39ojb-t500x500.jpg')"></div>
          </div>
        </div>
        <div class="spsongInfo">
          <div class="spitem spalbumImage" style="  background-image:url('https://i1.sndcdn.com/artworks-000142105824-y39ojb-t500x500.jpg');"></div>
          <div class="spitem spsongDetails">
            <div class="spsongTitle">Matadora</div>
            <div class="spartistTitle">Sofi Tukker</div>
          </div>
          <div id="spAudiocontainer">
            <audio class="audio-player" src="https://p.scdn.co/mp3-preview/77f3d7ea6be27d21fdbf489e01011012c044ebbf?cid=774b29d4f13844c495f206cafdad9c86"></audio>
            <div class="spsongCircle"></div>
          <button class="spplay-pause-btn"></button>
          </div>
        </div>
      </div>
    <center><button type = "submit" class="button">Save</button></center>
  </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{url_for('static', filename = 'js/show-search.js')}}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  function Search() {
    var userQuery = document.getElementById('search-box').value;
    $.ajax({
      url: '/song',
      data: {query: userQuery},
      type: 'GET',
      success: function(data) {
        var NUM_RESULTS = 5;
        for (var i = 0; i < NUM_RESULTS; i++){
          var indexString = i.toString();
          document.getElementById("search-image-" + indexString).src = data[i].image;
          document.getElementById("search-title-" + indexString).textContent = data[i].title; 
        }
      },
      error: function(error) {
      console.error(error);
      }
    });
  }   
</script>
<script>
function logout() {
  window.location.href = "{{ url_for('logout')}}"
}
</script>
<script type="text/javascript" src="{{url_for('static', filename = 'js/light-dark-switch.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename = 'js/mediaPlayer.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename = 'js/characterCount.js')}}"></script>
{% endblock %} 

