{% extends "base.html" %}

{% block title %}Settings | Wavelength{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{url_for('static', filename = 'css/settings.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename = 'css/styleForPlayer.css')}}">
{% endblock %}

{% block content%}
<div id="pageID" style="display:none">settings</div>
<div class="main-content clsScroll" id="hideScroll">
    <h1 class="content-title">General</h1>
    <div class="settings-container">
      <div class="setting">
        <h2 class="setting-label">Dark Mode:</h2>
        <label class="setting-switch">
          <input type="checkbox" checked onclick="SwitchMode()">
          <span class="setting-slider"></span>
        </label>
      </div>
      <div class="setting">
        <h2 class="setting-label">Log Out:</h2>
        <label class="setting-switch">
          <button class="settingButton" onclick="logout()"></button>
        </label>
      </div>
      <div class="setting">
        <h2 class="setting-label">Change Password:</h2>
        <label class="setting-switch">
          <button class="settingButton" onclick=""></button>
        </label>
      </div>
    </div>
    <h1 class="content-title">Profile Settings</h1>
    <div class="settings-container">
      <div class="profile-settings-container">
        <div class="profile-setting">
          <h2 class="profile-setting-label">Profile Picture:</h2>
          <label class="profile-picture-setting">
            <form method = 'POST' action="/settings" enctype="multipart/form-data" id="upload-image"></form>
            <input type="file" id="profile-pic-input" name="profile_pic" accept="image/png, image/jpeg" onchange="document.getElementById('upload-image').submit()">
            <span class="profile-picture-span" style="background-image: url({{ profile_pic }})"></span>
          </label>
        </div>
        <div class="profile-setting">
          <h2 class="profile-setting-label">Email:</h2>
          <input class="single-line-text-entry" type="text" name="email" placeholder="{{ email }}" onfocus="this.value='{{ email }}'" onblur="this.placeholder='{{ email }}'">
        </div>
        <div class="profile-setting">
          <h2 class="profile-setting-label">Username:</h2>
          <input class="single-line-text-entry" type="text" name="username" placeholder="{{ username }}" onfocus="this.value='{{ username }}'" onblur="this.placeholder='{{ username }}'">
        </div>
        <div class="profile-setting">
          <h2 class="profile-setting-label">Display Name:</h2>
          <input class="single-line-text-entry" type="text" name="display_name" placeholder="{{ display_name }}" onfocus="this.value='{{ display_name }}'" onblur="this.placeholder='{{ display_name }}'">
        </div>
        <div class="profile-setting">
          <h2 class="profile-setting-label">Bio:</h2>
          <textarea class="multi-line-text-entry" type="text" name="bio" maxlength="60" placeholder="{{ bio }}" onfocus="this.value='{{ bio }}'" onblur="this.placeholder ='{{ bio }}'" style="height: 6vw;"></textarea>
          <div id="the-count">
            <span id="current">0</span>
            <span id="maximum">/ 60</span>
          </div>
        </div>
        <div class="profile-setting">
          <h2 class="profile-setting-label">Top Song:</h2>
          <input class="single-line-text-entry" id="search-box" type="text" name="top_song" placeholder="{{ top_song }}" onfocus="this.placeholder='';ShowMiniSearch()" onblur="this.placeholder='{{top_song}}';HideMiniSearch()" onkeyup="Search()"></input>
        </div>
        <div id="search-container">
          <div style="margin-top:1vw;"></div>
          <div class="search-result" id="search-result-0">
            <img id="search-image-0">
            <h2 id="search-title-0"></h2>
          </div>
          <div class="search-result" id="search-result-1">
            <img id="search-image-1">
            <h2 id="search-title-1"></h2>
          </div>
          <div class="search-result" id="search-result-2">
            <img id="search-image-2">
            <h2 id="search-title-2"></h2>
          </div>
          <div class="search-result" id="search-result-3">
            <img id="search-image-3">
            <h2 id="search-title-3"></h2>
          </div>
          <div class="search-result" id="search-result-4">
            <img id="search-image-4">
            <h2 id="search-title-4"></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="spcontainer">
      <div class="spplayer">
        <div class="spblurrer">
          <div class="sprepeating-image" id="resultBackground" style="background-image:url('https://news.artnet.com/app/news-upload/2015/04/staneley-donwood.jpg')"></div>
        </div>
      </div>
      <div class="spsongInfo">
        <div class="spitem spalbumImage" id="resultImage" style="  background-image:url('https://news.artnet.com/app/news-upload/2015/04/staneley-donwood.jpg');"></div>
        <div class="spitem spsongDetails">
          <div class="spsongTitle" id="resultTitle">Sail To The Moon</div>
          <div class="spartistTitle" id="resultArtist">Radiohead</div>
        </div>
        <div id="spAudiocontainer">
          <audio class="audio-player" id="resultAudio" src="https://p.scdn.co/mp3-preview/858f7c324686e4a7b41a8648695b0f563d348b1f?cid=162b7dc01f3a4a2ca32ed3cec83d1e02"></audio>
          <div class="spsongCircle"></div>
        <button class="spplay-pause-btn"></button>
        </div>
      </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
          {% for catagory, message in messages %}
          {% if catagory == "error" %}
          <div class="error">
              <p>{{ message }}</p>
          </div>
          {% endif %}
          {% endfor %}
      {% endif %}
    {% endwith %}
    <center><button type = "submit" class="button">Save</button></form></center>
  </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{url_for('static', filename = 'js/show-search.js')}}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename = 'js/search.js')}}"></script>
<script>
function logout() {
  window.location.href = "{{ url_for('logout')}}"
}
</script>
<script type="text/javascript" src="{{url_for('static', filename = 'js/light-dark-switch.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename = 'js/mediaPlayer.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename = 'js/characterCount.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename = 'js/occupyProfilePic.js')}}"></script>
{% endblock %}
