{% extends "sign-on.html" %}

{% block title %}Setup | Wavelength{% endblock %}

{% block content%}
<div id="pageID" style="display:none">setup</div>
<h1 style="margin-top: 2vw; margin-bottom: 2vw">Create Your Profile!</h1>
<div class="content-creation">
    <div class="settings-container">
        <div class="profile-settings-container">
            <div class="profile-setting">
                <h2 class="profile-setting-label">Profile Picture:</h2>
                <label class="profile-picture-setting">
                    <form method = 'POST' action="/creation" enctype="multipart/form-data" id="upload-image">
                    <input type="file" id="profile-pic-input" name="profile_pic" accept="image/png, image/jpeg" onchange="document.getElementById('upload-image').submit()">
                    <span class="profile-picture-span" style="background-image: url({{ profile_pic }})"></span>
                </label>
                </div>
                <div class="profile-setting">
                    <h2 class="profile-setting-label">Display Name:</h2>
                    <input class="single-line-text-entry" type="text" name="display_name" value="{{ display_name }}">
                </div>
                <div class="profile-setting">
                    <h2 class="profile-setting-label">Bio:</h2>
                    <textarea class="multi-line-text-entry" type="text" name="bio" maxlength="60" style="height: 6vw;">{{ bio }}</textarea>
                <div id="the-count">
                    <span id="current">0</span>
                    <span id="maximum">/ 60</span>
                </div>
            </div>
            <div class="profile-setting">
                <h2 class="profile-setting-label">Top Song:</h2>
                <input class="single-line-text-entry" id="search-box" type="text" name="top_song" value="{{ top_song }}" onfocus="this.placeholder='';ShowMiniSearch()" onblur="this.placeholder='';HideMiniSearch()" onkeyup="Search()"></input>
            </div>
            <div id="search-container">
                <div style="margin-top:1vw;"></div>
                <div class="search-result" id="search-result-0">
                  <img id="search-image-0">
                  <h2 id="search-title-0"></h2>
                </div>
                <div class="search-result" id="search-result-1">
                  <img id="search-image-1">
                  <h2 id="search-title-1"></h2>
                </div>
                <div class="search-result" id="search-result-2">
                  <img id="search-image-2">
                  <h2 id="search-title-2"></h2>
                </div>
                <div class="search-result" id="search-result-3">
                  <img id="search-image-3">
                  <h2 id="search-title-3"></h2>
                </div>
                <div class="search-result" id="search-result-4">
                  <img id="search-image-4">
                  <h2 id="search-title-4"></h2>
                </div>
            </div>
        </div>
    </div>
</div>
{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
    {% for catagory, message in messages %}
    {% if catagory == "error" %}
    <div class="error">
        <p>{{ message }}</p>
    </div>
    {% endif %}
    {% endfor %}
{% endif %}
{% endwith %}
<center>
    <button type = "submit" class="button">Continue</button>
    </form>
</center>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{url_for('static', filename = 'js/characterCount.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename = 'js/show-search.js')}}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename = 'js/search.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename = 'js/occupyProfilePic.js')}}"></script>
{% endblock %}
